<%- include('header.ejs') %>
    <h1>What’s your ZIP code?</h1>
    <form class="pure-form">
        <fieldset>
            <input type="number" name="zip" placeholder="12345" autofocus required>
            <input type="submit" class="pure-button pure-button-primary" value="Go">
        </fieldset>
    </form>
    <miler.888@gmail.com>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script src="/main.js"></script>
        <%- include('footer.ejs') %>